<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>READ</title>
</head>
<body>
<div>
    <p><label>이름 : </label><input type="text" name="staff_name" value="{{staffs.staff_name}}"></p>
    <p><label>직급 : </label><input type="text" name="staff_position" value="{{staffs.staff_position}}"></p>
    <p><label>입사일자 : </label><input type="text" name="staff_day" value="{{staffs.staff_day}}"></p>
    <p><label>전화번호 : </label><input type="text" name="staff_phonenumber" value="{{staffs.staff_phonenumber}}"></p>
</div>

<div class="btn btn-group">
    <a href="#" class="btn btn-info">수정</a>
    <a href="/staff_delete id=Staff_info.id" class="btn btn-info">삭제</a>
</div>


</body>
</html>
